<h1>Favorites</h1>
<div class="container">
  <div id="new-post-link">
     <%= link_to 'newpost',new_blog_path,class: 'btn btn-primary' %>
  </div>
<div class='row'>
<% @favorites.each do |favorite| %>
<div class="col-xs-12 col-md-6 blog-panel">
  <h2><%= favorite.blog.title %></h2>
  <h4><%= favorite.blog.user.name %></h4>
  <div class="blog-links">
    <% if current_user.present? %>
      <%= link_to "show",blog_path(favorite.blog.id),class: 'btn btn-default' %>
      <% if current_user.id  ==  favorite.blog.user_id %>
        <%= link_to "edit", edit_blog_path(favorite.blog.id), class: 'btn btn-info'%>
        <%= link_to"destroy",blog_path(favorite.blog.id),method: :delete ,data: {confirm: '本当に？'},class: 'btn btn-danger' %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
</div>
</div>
